#calculator{
    display:flex; 
    width: 313px;
    height: 344px;
    flex-direction: column;
    background-color:black;
    
}

body {
    height:344px !important; 
    width: 311px !important;
    margin: 0px !important; 
    overflow-x: hidden;
    overflow-y: hidden;
}

#operations{
    display: flex;
    flex-direction: column;
    width: 313px;

}

#screen{
    height: 60px;
    width: 313px;
    background-color: darkgray;
    border-bottom-style: solid;
    border-top-style: solid;
    
}

body {
    height: 1000px;
}

#row1 > button {
    width: 75px; 
    height: 57px;
}

#row2 > button {
    width: 75px; 
    height: 57px;
}

#row3 > button {
    width: 75px; 
    height: 57px;
}

#row4 > button {
    width: 75px; 
    height: 57px;
}

#row5{
    height: 55px;
}

#zero{
    width: 154px;
    height: 55px;
}

#decimalPoint{
    width: 75px;
    height: 55px;
}

#equals{
    width: 75px;
    background-color: orange;
    /* border-style: solid; */
    /* border-radius: 5px; */
    outline: none;
    border-color: orange;
    height: 55px;
}

#addition{
    width: 75px;
    background-color: orange;
    /* border-style: solid; */
    /* border-radius: 5px; */
    outline: none;
    border-color: orange;
    height: 55px;
}

#subtraction{
    width: 75px;
    background-color: orange;
    /* border-style: solid; */
    /* border-radius: 5px; */
    outline: none;
    border-color: orange;
    height: 55px;
}

#multiplucation{
    width: 75px;
    background-color: orange;
    /* border-style: solid; */
    /* border-radius: 5px; */
    outline: none;
    border-color: orange;
    height: 55px;
}

#division{
    width: 75px;
    background-color: orange;
    /* border-style: solid; */
    /* border-radius: 5px; */
    outline: none;
    border-color: orange;
    height: 55px;
}
